*-stamp
*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/libkeys-dev
debian/libkeys0
debian/libkeys0-dbg
debian/tmp
depcomp
install-sh
libkeys.pc
libtool
ltmain.sh
missing
po/*.mo
src/keys_test
