Source: libkeys
Section: core
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), autoconf, automake, libtool, pkg-config, libeina-dev, libefreet-dev, libevas-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, automake, libtool, pkg-config
XCS-Cross-Build-Depends: libeina-dev, libefreet-dev, libevas-dev
Priority: optional
Standards-Version: 3.8.3

Package: libkeys0
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenInkpot key handling library
 This library provides a code for handling keys for OpenInkpot applications.

Package: libkeys0-dbg
Architecture: any
Depends: libkeys0 (= ${binary:Version})
Description: OpenInkpot key handling library -- debug package
 This library provides a code for handling keys for OpenInkpot applications.
 .
 This package contains debugging symbols.

Package: libkeys-dev
Architecture: any
Section: libdevel
Depends: libkeys0 (= ${binary:Version})
Description: OpenInkpot key handling library -- development files
 This library provides a code for handling keys for OpenInkpot applications.
 .
 This package contains development files.
